


.body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #2F647E;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column !important;
    min-height: 90vh;

}

.tablaPanel{
    background-color: white;
    border-radius: 50px;
    width: 95%;
}

.circle {
    width: 50px;  
    height: 50px; 
    background-color: #85BECE; 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    
    width: 80%;
    height: auto;
}

h1 {
    text-align: center;
    color: #007bff;
    margin-top: 20px;
}


p {
    text-align: justify;
    margin: 15px;
}


button {
    display: block;
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.textoIcono p{
    color: var(--blanco, #FFF);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 15px;
}

.header{
    background-color: #2F647E;
    width: 100%;
    padding: 10px 0;
}

.subheader, .footerIcons, footer{
    background-color: #428BA9;
    width: 100%;
}

.form-select{
    width: fit-content !important;
}

.entrada, .salida{
    display: flex;
    width: 142.868px;
    height: 45.805px;
    padding: 9px 20px;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    background-color: white;
    border-radius: 30px;

}

.entradaTexto div{
    color: #74B160;
}

.salidaTexto div{
    color: #DF1517;
}

@media (max-width: 600px) {
    .container {
        width: 100%;
        margin: 0;
        box-shadow: none;
    }
}

.qrCode img {
    width: 350px;
    height: 350px;
}

footer{
    min-height: 100px;
}

.bellIcon {
    position: relative;
    display: inline-block;
}

.bellIcon img {
    display: block;
    width: auto;
    height: auto;
}

.bellIcon .badge {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}

.footerIcons p{
    color: white;
}

.escanear button{
    background-color: #2F647E;
    color: white;
    border-radius: 30px;
    display: flex;
    width: 170px;
    height: 42px;
    padding: 9px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 100px;

}

.nuevoAlumnoModalTitle{
    color:#2F647E;
}

.modal-footer .btn, .modal-footer .btn:hover, .modal-footer .btn:focus{
    color: white;
    background-color: #2F647E;
    border-radius: 30px;
    width: 30%;

}

#nuevoAlumno input{
    background-color: #F5F5F5;
    border: none;
}

.tituloSubQr{
    color: var(--Texto, #53565A);
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.urlQr{
    color: var(--secundario, #85BECE);
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.textoQr{
    color: #898989;
    text-align: center;
    font-family: Lato;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.urlTextoQr, .urlTextoQr:hover, .urlTextoQr:focus{
    color: #85BECE;
    font-family: Lato;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: none;
    text-decoration: none;
}

.calendar, .proyectarQr, #triggerNuevoAlumno, .chatbot, .bellIcon{
    cursor: pointer;
}